@font-face {
    font-family: "Roboto", sans-serif;
    src: url("/src/assets/fonts/Roboto-Regular.ttf");
}

body {
    font-family: "roboto" !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
